gmaps_key=[your Google Maps API key] 
bing_key=[your Bing Maps API key]
yelp_key=[your Yelp API key]
yelp_secret=[your Yelp API secret]
yelp_token=[your Yelp API token]
yelp_token_secret=[your Yelp API token secret]
DATABASE_URL=postgres:///$HOME/Documents