-curses==2.2
Babel==0.9.6
BeautifulSoup==3.2.1
Bottleneck==0.6.0
Elixir==0.7.1
Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
Pillow==2.0.0
PyGreSQL==4.1.1
PyICU==1.5
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.0.2
Pygments==1.6
SQLAlchemy==0.8.1
Sphinx==1.1.3
Tempita==0.5.1
VTK==5.10.1
ViTables==2.1
Werkzeug==0.9.4
apptools==4.2.0
beautifulsoup4==4.3.2
blockcanvas==4.0.3
casuarius==1.1
cchardet==0.3.5
cffi==0.6
chaco==4.3.0
codetools==4.1.0
colorama==0.2.5
configobj==4.7.2
configparser==3.3.0r2
cov-core==1.7
coverage==3.6
cssselect==0.8
cx-Freeze==4.3.1
decorator==3.4.0
distribute==0.6.45
docutils==0.10
enable==4.3.0
enaml==0.6.8
encore==0.3
envisage==4.3.0
etsdevtools==4.0.2
etsproxy==0.1.2
formlayout==1.0.13
futures==2.1.3
gevent==1.0dev
gmapi==0.1
graphcanvas==4.0.2
greenlet==0.4.0
gspread==0.1.0
guidata==1.6.1
guiqwt==2.3.1
gunicorn==18.0
h5py==2.1.3
honcho==0.5.0
httplib2==0.8
imageio==0.4
ipdb==0.7
ipdbplugin==1.2
ipython==0.13.1
itsdangerous==0.23
logilab-astng==0.24.3
logilab-common==0.59.1
lxml==3.2.0
mahotas==0.99
matplotlib==1.2.1
mayavi==4.3.0
mechanize==0.2.5
nose==1.3.0
nose-cov==1.6
nose-fixes==1.3
numexpr==2.1
numpy==1.8.0
oauth2==1.5.211
pandas==0.12.0
paramiko==1.10.1
pep8==1.4.5
plotly==0.5.7
ply==3.4
psutil==0.7.1
py2exe==0.6.9
pyMinuit==1.2.1
pycparser==2.09.1
pycrypto==2.6
pycurl==7.19.0
pyemf==2.0.0
pyface==4.3.0
pyfits==3.1.1
pyflakes==0.7.2
pygmaps==0.1.1
pylint==0.28.0
pyreadline==2.0
python-dateutil==2.1
pytz==2013b
pywin32==218
pyzmq==13.1.0
reportlab==2.7
requests==2.2.1
rope==0.9.4
sampy==1.2.1
scikit-learn==0.14.1
scimath==4.1.2
scipy==0.12.0
six==1.3.0
smc.freeimage==0.3dev
spyder==2.2.0
sqlalchemy-migrate==0.7.3.dev
tables==2.4.0
tornado==3.0.1
traits==4.3.0
traitsui==4.3.0
veusz==1.17.1
virtualenv==1.9.1
wxPython==2.8.12.1
wxPython-common==2.8.12.1
