{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
  <label for="start">Start</label>
  <input type="text" name="start" placeholder="e.g. San Francisco, CA">
  <label for="end">End</label>
  <input type="text" name="end" placeholder="e.g. Las Vegas, NV">
  <label for="time_leaving">What time are you leaving?</label>
  <input type="time" name="time_leaving" placeholder="e.g. 12:00pm">
  <label for="eating_time">What time do you want to eat?</label>
  <input type="time" name="eating_time" placeholder="e.g. 1:30pm">
  <input class="button" type="submit" name='button' value="Find great restaurants on the way">
  <input class="link" type="submit" name='button' value="Just find the best! (takes longer)">
</form>

{% endblock %}
