{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
  <label for="start">Start</label>
  <input type="text" id='latlong' name="start" placeholder="e.g. SF">  
  <label for="end">End</label>
  <input type="text" name="end" placeholder="e.g. Yellowstone">
  <input class="button" type="submit" name='button' value="Find great restaurants">

  <label for="time_leaving">What time are you leaving?</label>
  <input type="time" name="time_leaving" placeholder="e.g. 12:00pm">
  <label for="eating_time">What time do you want to eat?</label>
  <input type="time" name="eating_time" placeholder="e.g. 1:30pm">
  <input class="button" type="submit" name='button' value="Find great restaurants at this time">
</form>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49514774-1', 'yelp-road-trip.herokuapp.com');
  ga('send', 'pageview');

</script>

  <script src="../static/js/geoPosition.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    if(geoPosition.init()){
      geoPosition.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true});
    }
    else{
      document.getElementById('result').innerHTML = '<span class="error">Functionality not available</span>';
    }

    function success_callback(p)
    {
      var latitude = parseFloat( p.coords.latitude ).toFixed(2);
      var longitude = parseFloat( p.coords.longitude ).toFixed(2);
      document.getElementById('latlong').value = latitude + ',' + longitude;  
    }
    
    function error_callback(p)
    {
      document.getElementById('result').innerHTML = '<span class="error">' + p.message + '</span>';     
    }   

  </script> 

{% endblock %}
