<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;

	var start_point = 'sf';
	var end_point = 'seattle';

	function initialize() {
		var mapOptions = {
		  center: new google.maps.LatLng(43.6540782571, -122.561867086),
		  zoom: 10
		};
		
	var contentString1= 
'<h2 id="firstHeading" class="firstHeading">Hi-Lo Cafe</h2>'+
'<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image">'+
'<p>132 reviews</p>'+
'<p>283.7 mi away</p>'+
'<p>You will arrive in 254 mins.</p>'+
'<p>0 mi/1 min detour</p>'+
'<a href="http://www.yelp.com/biz/hi-lo-cafe-weed" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/hi-lo-cafe-weed" target="\_blank">view in iPhone app</a></p>'

var contentString2= 
'<h2 id="firstHeading" class="firstHeading">Brunch Box</h2>'+
'<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'<p>429 reviews</p>'+
'<p>634.8 mi away</p>'+
'<p>You will arrive in 576 mins.</p>'+
'<p>1 mi/5 min detour</p>'+
'<a href="http://www.yelp.com/biz/brunch-box-portland-2" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/brunch-box-portland-2" target="\_blank">view in iPhone app</a></p>'

var contentString3= 
'<h2 id="firstHeading" class="firstHeading">PBJ\'s</h2>'+
'<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'<p>285 reviews</p>'+
'<p>636.2 mi away</p>'+
'<p>You will arrive in 577 mins.</p>'+
'<p>1 mi/6 min detour</p>'+
'<a href="http://www.yelp.com/biz/pbjs-portland" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/pbjs-portland" target="\_blank">view in iPhone app</a></p>'

var contentString4= 
'<h2 id="firstHeading" class="firstHeading">Curry Corner</h2>'+
'<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'<p>144 reviews</p>'+
'<p>756.9 mi away</p>'+
'<p>You will arrive in 684 mins.</p>'+
'<p>3 mi/5 min detour</p>'+
'<a href="http://www.yelp.com/biz/curry-corner-olympia-3" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/curry-corner-olympia-3" target="\_blank">view in iPhone app</a></p>'

var contentString5= 
'<h2 id="firstHeading" class="firstHeading">The Portland Soup Company</h2>'+
'<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'<p>115 reviews</p>'+
'<p>633.9 mi away</p>'+
'<p>You will arrive in 572 mins.</p>'+
'<p>1 mi/2 min detour</p>'+
'<a href="http://www.yelp.com/biz/the-portland-soup-company-portland" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/the-portland-soup-company-portland" target="\_blank">view in iPhone app</a></p>'

var contentString6= 
'<h2 id="firstHeading" class="firstHeading">Rose Garden</h2>'+
'<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image">'+
'<p>130 reviews</p>'+
'<p>53.4 mi away</p>'+
'<p>You will arrive in 56 mins.</p>'+
'<p>0 mi/2 min detour</p>'+
'<a href="http://www.yelp.com/biz/rose-garden-vacaville" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/rose-garden-vacaville" target="\_blank">view in iPhone app</a></p>'

var contentString7= 
'<h2 id="firstHeading" class="firstHeading">King Estate Winery</h2>'+
'<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image">'+
'<p>105 reviews</p>'+
'<p>507.4 mi away</p>'+
'<p>You will arrive in 469 mins.</p>'+
'<p>6 mi/31 min detour</p>'+
'<a href="http://www.yelp.com/biz/king-estate-winery-eugene" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/king-estate-winery-eugene" target="\_blank">view in iPhone app</a></p>'

var contentString8= 
'<h2 id="firstHeading" class="firstHeading">Homegrown Smoker BBQ</h2>'+
'<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'<p>123 reviews</p>'+
'<p>2137.3 mi away</p>'+
'<p>You will arrive in 1827 mins.</p>'+
'<p>3863 mi/3283 min detour</p>'+
'<a href="http://www.yelp.com/biz/homegrown-smoker-bbq-portland" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/homegrown-smoker-bbq-portland" target="\_blank">view in iPhone app</a></p>'

var contentString9= 
'<h2 id="firstHeading" class="firstHeading">Bo Kwon\'s KOi Fusion</h2>'+
'<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image">'+
'<p>114 reviews</p>'+
'<p>624.3 mi away</p>'+
'<p>You will arrive in 563 mins.</p>'+
'<p>1 mi/4 min detour</p>'+
'<a href="http://www.yelp.com/biz/bo-kwons-koi-fusion-portland-2" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/bo-kwons-koi-fusion-portland-2" target="\_blank">view in iPhone app</a></p>'

	var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

    var locations = [
	[contentString1, 41.4210667,-122.3840114,1],
	[contentString2, 45.5207826,-122.6764204,2],
	[contentString3, 45.5295072,-122.6986689,3],
	[contentString4, 47.0625837,-122.7409888,4],
	[contentString5, 45.509867,-122.6812479,5],
	[contentString6, 38.3480666,-121.9983592,6],
	[contentString7, 43.8536547,-123.2471073,7],
	[contentString8, 32.1805645,-90.2650529,8],
	[contentString9, 45.395603,-122.753373,9],
    ];

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  
	  google.maps.event.addListener(map, 'click', function() {
		infowindow.close(map,marker);
	});
    }

	directionsDisplay = new google.maps.DirectionsRenderer();
	  directionsDisplay.setMap(map);
	}

	function calcRoute() {
		var request = {
		  origin:start_point,
		  destination:end_point,
		  travelMode: google.maps.TravelMode.DRIVING
		};
		
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
			  directionsDisplay.setDirections(response);
			}
		});
	}

	calcRoute()
	google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="\#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Yelp Road Trip</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Map</a></li>
        <li><a href="http://www.nyt.com">Results</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div id="map-canvas"/>
  </body>
</html>