<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, minimal-ui"><meta charset="utf-8">
<meta charset="utf-8">
    <title>Directions service</title>
    <link href="./../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;

	var start_point = '37.75,-122.42';
	var end_point = 'yellowstone';

	function initialize() {
		var mapOptions = {
		  center: new google.maps.LatLng(38.8098042143, -121.158526571),
		  zoom: 10
		};
		
	var contentString1= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/sterlings-seafood-steakhouse-reno" target="\_blank">Sterling\'s Seafood Steakhouse</a>'+
'<br><a href="http://www.yelp.com/biz/sterlings-seafood-steakhouse-reno" target="\_blank"><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image"></a>'+
'</h4><p>255 reviews<br>'+
'219 mi away<br>'+
'You will arrive in 3 hrs and 31 mins<br>'+
'1 mi/5 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" target="\_blank">view in iPhone app</a></p>'

var contentString2= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/fluffy-donuts-and-sandwich-davis" target="\_blank">Fluffy Donuts & Sandwich</a>'+
'<br><a href="http://www.yelp.com/biz/fluffy-donuts-and-sandwich-davis" target="\_blank"><img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image"></a>'+
'</h4><p>89 reviews<br>'+
'74 mi away<br>'+
'You will arrive in 1 hr and 19 mins<br>'+
'4 mi/7 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" target="\_blank">view in iPhone app</a></p>'

var contentString3= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/fireside-pizza-co-olympic-valley-4" target="\_blank">Fireside Pizza Co</a>'+
'<br><a href="http://www.yelp.com/biz/fireside-pizza-co-olympic-valley-4" target="\_blank"><img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image"></a>'+
'</h4><p>163 reviews<br>'+
'197 mi away<br>'+
'You will arrive in 3 hrs and 15 mins<br>'+
'22 mi/30 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" target="\_blank">view in iPhone app</a></p>'

var contentString4= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/ninja-sushi-and-teriyaki-roseville" target="\_blank">Ninja Sushi and Teriyaki</a>'+
'<br><a href="http://www.yelp.com/biz/ninja-sushi-and-teriyaki-roseville" target="\_blank"><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image"></a>'+
'</h4><p>209 reviews<br>'+
'109 mi away<br>'+
'You will arrive in 1 hr and 51 mins<br>'+
'4 mi/8 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" target="\_blank">view in iPhone app</a></p>'

var contentString5= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/baagan-roseville" target="\_blank">Baagan</a>'+
'<br><a href="http://www.yelp.com/biz/baagan-roseville" target="\_blank"><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image"></a>'+
'</h4><p>221 reviews<br>'+
'110 mi away<br>'+
'You will arrive in 1 hr and 51 mins<br>'+
'6 mi/9 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" target="\_blank">view in iPhone app</a></p>'

var contentString6= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/cottonwood-restaurant-and-bar-truckee" target="\_blank">Cottonwood Restaurant & Bar</a>'+
'<br><a href="http://www.yelp.com/biz/cottonwood-restaurant-and-bar-truckee" target="\_blank"><img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image"></a>'+
'</h4><p>208 reviews<br>'+
'188 mi away<br>'+
'You will arrive in 3 hrs and 4 mins<br>'+
'1 mi/8 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" target="\_blank">view in iPhone app</a></p>'

var contentString7= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/punjabi-dhaba-dixon" target="\_blank">Punjabi Dhaba</a>'+
'<br><a href="http://www.yelp.com/biz/punjabi-dhaba-dixon" target="\_blank"><img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image"></a>'+
'</h4><p>134 reviews<br>'+
'65 mi away<br>'+
'You will arrive in 1 hr and 9 mins<br>'+
'0 mi/2 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" target="\_blank">view in iPhone app</a></p>'

var contentString8= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/dannys-mini-donuts-sacramento-4" target="\_blank">Danny\'s Mini Donuts</a>'+
'<br><a href="http://www.yelp.com/biz/dannys-mini-donuts-sacramento-4" target="\_blank"><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image"></a>'+
'</h4><p>118 reviews<br>'+
'88 mi away<br>'+
'You will arrive in 1 hr and 32 mins<br>'+
'4 mi/8 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" target="\_blank">view in iPhone app</a></p>'

var contentString9= 
'<h4 class="media-heading"><a href="http://www.yelp.com/biz/hamro-aangan-albany" target="\_blank">Aangan</a>'+
'<br><a href="http://www.yelp.com/biz/hamro-aangan-albany" target="\_blank"><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image"></a>'+
'</h4><p>309 reviews<br>'+
'15 mi away<br>'+
'You will arrive in 26 mins<br>'+
'2 mi/6 min detour</p>'+
'<p><a href="yelp://fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" target="\_blank">view in iPhone app</a></p>'

	var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

    var locations = [
	[contentString1, 39.5254004,-119.8135266,1],
	[contentString2, 38.5476632,-121.7595133,2],
	[contentString3, 39.196739,-120.2349813,3],
	[contentString4, 38.7810403,-121.2858021,4],
	[contentString5, 38.7855311,-121.2867703,5],
	[contentString6, 39.33,-120.18,6],
	[contentString7, 38.4435086,-121.858771,7],
	[contentString8, 38.5841473,-121.503848,8],
	[contentString9, 37.8904487,-122.2994072,9],
    ];

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  
	  google.maps.event.addListener(map, 'click', function() {
		infowindow.close(map,marker);
	});
    }

	directionsDisplay = new google.maps.DirectionsRenderer();
	  directionsDisplay.setMap(map);
	}

	function calcRoute() {
		var request = {
		  origin:start_point,
		  destination:end_point,
		  travelMode: google.maps.TravelMode.DRIVING
		};
		
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
			  directionsDisplay.setDirections(response);
			}
		});
	}

	calcRoute()
	google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="\#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('show_input_form') }}">Yelp Road Trip</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('map') }}">Map</a></li>
        <li><a href="{{ url_for('results') }}">Results</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="map-canvas"/>
  </body>
</html>