<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <link href="./../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;

	var start_point = 'sf';
	var end_point = 'fresno, ca';

	function initialize() {
		var mapOptions = {
		  center: new google.maps.LatLng(37.5946101143, -120.992997971),
		  zoom: 10
		};
		
	var contentString1= 
'<h3 id="firstHeading" class="firstHeading">Viva Taco Bus'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>36 reviews<br>'+
'104.6 mi away<br>'+
'You will arrive in 102 mins.<br>'+
'0 mi/5 min detour</p>'+
'<a href="http://www.yelp.com/biz/viva-taco-bus-turlock" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/viva-taco-bus-turlock" target="\_blank">view in iPhone app</a></p>'

var contentString2= 
'<h3 id="firstHeading" class="firstHeading">Beirut Falafel Hut'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>80 reviews<br>'+
'92.7 mi away<br>'+
'You will arrive in 92 mins.<br>'+
'2 mi/8 min detour</p>'+
'<a href="http://www.yelp.com/biz/beirut-falafel-hut-modesto" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/beirut-falafel-hut-modesto" target="\_blank">view in iPhone app</a></p>'

var contentString3= 
'<h3 id="firstHeading" class="firstHeading">Kitty\'s Kitchen'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>50 reviews<br>'+
'76.5 mi away<br>'+
'You will arrive in 77 mins.<br>'+
'2 mi/8 min detour</p>'+
'<a href="http://www.yelp.com/biz/kittys-kitchen-manteca" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/kittys-kitchen-manteca" target="\_blank">view in iPhone app</a></p>'

var contentString4= 
'<h3 id="firstHeading" class="firstHeading">Agave Azul'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>29 reviews<br>'+
'100.2 mi away<br>'+
'You will arrive in 100 mins.<br>'+
'6 mi/13 min detour</p>'+
'<a href="http://www.yelp.com/biz/agave-azul-hughson" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/agave-azul-hughson" target="\_blank">view in iPhone app</a></p>'

var contentString5= 
'<h3 id="firstHeading" class="firstHeading">Cafe Garré'+
'<br><img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png" alt="Yelp rating image">'+
'</h3><p>33 reviews<br>'+
'49.6 mi away<br>'+
'You will arrive in 53 mins.<br>'+
'7 mi/12 min detour</p>'+
'<a href="http://www.yelp.com/biz/cafe-garr%C3%A9-livermore-2" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/cafe-garr%C3%A9-livermore-2" target="\_blank">view in iPhone app</a></p>'

var contentString6= 
'<h3 id="firstHeading" class="firstHeading">Jantz Cafe & Bakery'+
'<br><img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="Yelp rating image">'+
'</h3><p>75 reviews<br>'+
'123.2 mi away<br>'+
'You will arrive in 120 mins.<br>'+
'2 mi/9 min detour</p>'+
'<a href="http://www.yelp.com/biz/jantz-cafe-and-bakery-atwater" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/jantz-cafe-and-bakery-atwater" target="\_blank">view in iPhone app</a></p>'

var contentString7= 
'<h3 id="firstHeading" class="firstHeading">Picassos Gourmet Deli'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>45 reviews<br>'+
'91.4 mi away<br>'+
'You will arrive in 90 mins.<br>'+
'0 mi/4 min detour</p>'+
'<a href="http://www.yelp.com/biz/picassos-gourmet-deli-modesto" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/picassos-gourmet-deli-modesto" target="\_blank">view in iPhone app</a></p>'

var contentString8= 
'<h3 id="firstHeading" class="firstHeading">New Thai Cuisine'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>60 reviews<br>'+
'129.1 mi away<br>'+
'You will arrive in 123 mins.<br>'+
'0 mi/2 min detour</p>'+
'<a href="http://www.yelp.com/biz/new-thai-cuisine-merced" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/new-thai-cuisine-merced" target="\_blank">view in iPhone app</a></p>'

var contentString9= 
'<h3 id="firstHeading" class="firstHeading">In-N-Out Burger'+
'<br><img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="Yelp rating image">'+
'</h3><p>84 reviews<br>'+
'62.3 mi away<br>'+
'You will arrive in 63 mins.<br>'+
'0 mi/1 min detour</p>'+
'<a href="http://www.yelp.com/biz/in-n-out-burger-tracy" target="\_blank">visit Yelp page</a>'+
'<p><a href="yelp://om/biz/in-n-out-burger-tracy" target="\_blank">view in iPhone app</a></p>'

	var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

    var locations = [
	[contentString1, 37.500841,-120.849554,1],
	[contentString2, 37.6384544,-120.9780413,2],
	[contentString3, 37.8052,-121.2167654,3],
	[contentString4, 37.594403,-120.869152,4],
	[contentString5, 37.6657331,-121.6979143,5],
	[contentString6, 37.3607563,-120.6033301,6],
	[contentString7, 37.6401883,-121.0003638,7],
	[contentString8, 37.3029709,-120.4901504,8],
	[contentString9, 37.7618947,-121.4337792,9],
    ];

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  
	  google.maps.event.addListener(map, 'click', function() {
		infowindow.close(map,marker);
	});
    }

	directionsDisplay = new google.maps.DirectionsRenderer();
	  directionsDisplay.setMap(map);
	}

	function calcRoute() {
		var request = {
		  origin:start_point,
		  destination:end_point,
		  travelMode: google.maps.TravelMode.DRIVING
		};
		
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
			  directionsDisplay.setDirections(response);
			}
		});
	}

	calcRoute()
	google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="\#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('show_input_form') }}">Yelp Road Trip</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Map</a></li>
        <li><a href="{{ url_for('results') }}">Results</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="map-canvas"/>
  </body>
</html>